:root{
    --primary-color: rgba(109, 228, 93, 1); 
    --secondary-color: rgba(153, 12, 12, 1);
    --accent1-color:rgba(0, 0, 0, 0.815);
    --accent2-color: rgba(80, 9, 68, 0.6);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;   
}

header{
 background-color: var(--primary-color);
 color: var(--accent2-color);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
nav, p, section, article {
    margin: 18px;
    padding: 9px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 98%;
    padding: 18px;
    text-align: center;
    opacity: 0.6;
    background-color: #6de45d;
    color: var(--secondary-color);
}

.hero article {
    position: absolute;
    bottom: 20px; /* Adjust this value to place it where you like */
    left: 20px;   /* Adjust this value to place it where you like */
    background-color: var(--accent2-color); /* Just an example */
    color: white; /* Example for readability */
}

.hero article img {
    float: right;
    width: 130px;
}

.Adventure{
    display: flex;
    gap: 15px;
    justify-content: center; 
    flex-wrap: wrap;
    text-align: center;
}
