:root{
    --primary-color: rgba(109, 228, 93, 1); 
    --secondary-color: rgba(153, 12, 12, 1);
    --accent1-color:rgba(0, 0, 0, 0.815);
    --accent2-color: rgba(80, 9, 68, 0.6);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;   
}

header{
 background-color: var(--primary-color);
 color: var(--accent2-color);
 padding: 10px 20px;
 display: grid;
 grid-template-columns: auto 1fr;
 align-items: center;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main {
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
nav {
 display: flex;
 justify-content: flex-end;
 gap: 20px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    max-width: 850px;
    margin: 0 auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    background-color: rgba(109, 228, 93, 0.9) ;
    color: #990c0c;
    padding: 15px;
    text-align: center;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero article img {
    float: right;
    width: 130px;
}

.Adventure{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    max-width: 850px;
    margin: 40px auto;
    text-align: center;
}

.Adventure img{
width: 100%;
height: 140px;
object-fit: cover;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;
    padding: 15px 0;

}

.socialmedia{
    display: flex;
    gap: 15px;
    
}

.socialmedia img {
    width: 40px;
}